# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
python-dotenv

# data science
numpy

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
s3fs
requests
fastapi
uvicorn

# utilities
six>=1.14
memoized-property
termcolor

#nlp
spacy

#pics
matplotlib
tensorflow
tensorflow_hub


